{% extends "base.html" %}

{% block title %}Rejestracja{% endblock %}

{% block footer %}
	<script src="/js/app.js"></script>
	<script src="/js/validateRegistration.js"></script>
{% endblock %}

{% block body %}
	
	{% if user.errors is not empty %}
		<div class="row">
			<div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto alert alert-warning alert-dismissible fade show" role="alert">
				<span class="alert-heading"><strong>Błędy formularza:</strong></span>
				<div class="text-center">
						{% for error in user.errors %}
							{{ error }} <br>
						{% endfor %}
				</div>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>	
			</div>
		</div>
	{% endif %}
	
	<section>
					
		<div class="row">
			<div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto rounded" style="border: 1px #f2f2f2 dashed; background-color: rgba(242, 242, 242, 0.2); ">
				
				<form action="/signup/create" method="post" id="signupForm">
					
					<div class="col-10 offset-1 mt-5">
						<div>
							<input type="text" class="form-control" placeholder="Imię" name="name" id="inputName" value="{{ user.name }}" required />
						</div>
					</div>
					
					<div class="col-10 offset-1 mt-3">
						<div>
							<input type="email" class="form-control mt-3" placeholder="E-mail" name="email" id="inputEmail" value="{{ user.email }}" required />
						</div>
					</div>
					
					<div class="col-10 offset-1">
						<div>
							<input type="password" class="form-control mt-3" placeholder="Hasło" name="password" id="inputPassword" required />
						</div>
					</div>
					
					<div class="col-10 offset-1">
						<input type="submit" class="btn btn-info btn-block mt-4 mb-5 font-weight-bold" value="Zarejestruj">
					</div>
				
				</form>
				
			</div>
		</div>
		
	</section>
	
		<article>
				
		<div class="row mt-4">
			<h1 class="h4 col-12 text-center mb-4"><strong>Zarejestruj się za darmo</strong> i trzymaj wydatki pod kontrolą</h1>
		
			<div class="col-12 text-center">
				<ul class="list-unstyled">
					<li class="mb-1">Bilans z całego miesiąca lub wybranego okresu</li>
					<li class="mb-1">Wydatki posegregowane według kategorii</li>
					<li class="mb-1">Wizualizacja obszarów Twoich wydatków</li>
				</ul>
			</div>
		</div>
		
	</article>

{% endblock %}
