{% extends "desktop.html" %}

{% block title %}Balans wydatków i przychodów{% endblock %}

{% block footer %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="/js/pieChart.js"></script>
<script src="/js/detailsModal.js"></script>
{% endblock %}

{% block body %}

<main>
	<h1 class="h4 mt-4 mb-3 font-weight-bold text-center">Twój bilans w okresie od 
	<span class="h2 font-weight-bold mx-3" style="letter-spacing: 2px;" id="beginDate"> {{ args.beginDate }}</span> do <span class="h2 font-weight-bold mx-3" style="letter-spacing: 2px;" id="endDate">{{ args.endDate }}<span></h1>

	<div class="row mx-2">
		
		<div class="col-12 p-3 rounded" style="border: 2px #f2f2f2 dashed">
		
			<div class="row mb-4">
				<div class="col text-center">
					<h2 class="h4 d-inline-block"><span class="" id="comment">{{ args.comment.balanceComment }} Bilans  tym okresie to:</span></h2>
					<h2 class="h2 d-inline-block"><span class="{{ args.comment.balanceInfo }}" id="balance">{{ args.sumIncomes - args.sumExpenses }} zł</span></h2>
				</div>
			</div>
			
			<div class="row mb-2">
				<div class="col text-left">
					<h2 class="h5 d-inline-block my-1">Twoje <span class="font-weight-bold h4">przychody</span> w wybranym okreise:</h2>
					<h2 class="h3 d-inline-block my-1"><span class="badge badge-info" id="incomeSummary">{% if args.sumIncomes is null %}0{% else %}{{ args.sumIncomes }}{% endif %} zł</span></h2>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<table class="table table-hover table-sm text-light" id="incomeTable">
						<thead class="table thead-dark">
							<tr>
								<th scope="col" style="width: 50%;">Kategoria</th>
								<th scope="col" style="width: 40%;">Kwota</th>
								<th scope="col" style="width: 10%";></th>
							</tr>
						</thead>
						<tbody>
						{% for income in args.incomes %}
							<tr style="width: 50%;" class="font-weight-bold bg-secondary category" id="inc-{{ income.id }}"><td>{{ income.inc_name }}</td><td style="width: 40%;">{{ income.inc_amount }}</td><td style="width: 10%;" class="text-right"><i class="icon-dot"></i></td></tr>
							{% for record in args.allIncomes %}
								{% if income.id == record.catID %}
								<tr class="font-italic item-hidden inc-{{ income.id }} income-detailed-row" id="{{ record.id }}"><td colspan="2"><span class="income-date">{{ record.date }}</span> -- <span class="income-amount">{{ record.amount }}</span> -- <span class="income-comment">{{ record.comment }}</span></td><td style="width: 10%;" class="text-right"><i class="icon-pencil"></i></td></tr>
								{% endif %}
							{% endfor %}
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<div class="row mb-2 mt-3">
				<div class="col text-left">
					<h2 class="h5 d-inline-block my-1">Twoje <span class="font-weight-bold h4">wydatki</span> w wybranym okreise:</h2>
					<h2 class="h3 d-inline-block my-1"><span class="badge badge-info" id="expanseSummary">{% if args.sumExpenses is null %}0{% else %}{{ args.sumExpenses }}{% endif %} zł</span></h2>
				</div>
			</div>
			
			<div class="row">
				<div class="col-12">
					<table class="table table-hover table-sm text-light" id="expenseTable">
						<thead class="table thead-dark">
							<tr>
								<th scope="col" style="width: 50%;">Kategoria</th>
								<th scope="col" style="width: 40%;">Kwota</th>
								<th scope="col" style="width: 10%";></th>
							</tr>
						</thead>
						<tbody id="myExpenses">
						{% for expense in args.expenses %}
							<tr style="width: 50%;" class="font-weight-bold bg-secondary expense-category category" id="ex-{{ expense.id }}"><td>{{ expense.ex_name }}</td><td style="width: 40%;">{{ expense.ex_amount }}</td><td style="width: 10%;" class="text-right"><i class="icon-dot"></i></td></tr>
							{% for record in args.allExpenses %}
								{% if expense.id == record.catID %}
								<tr class="font-italic item-hidden ex-{{ expense.id }} expense-detailed-row" id="{{ record.id }}"><td colspan="2"><span class="expense-date">{{ record.date }}</span> -- <span class="expense-amount">{{ record.amount }}</span> -- <span class="expense-comment">{{ record.comment }}</span> -- <span class="expense-pay-method" id="pay-{{ record.payId }}">{{ record.payName }}</span></td><td style="width: 10%;" class="text-right"><i class="icon-pencil"></i></td></tr>
								{% endif %}
							{% endfor %}
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	</div>
	
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true" data-backdrop="">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="modalLongTitle">Edytuj wpis</h5>
      </div>
			<form method="post" action="" id="updateForm">
				<div class="modal-body">
					<div class="container-fluid" id="modalData">
						<div>							
							<div class="col" id="cash">
								<label class="sr-only">Kwota</label>
									<div class="input-group input-group-lg">
										<div class="input-group-prepend">
											<span class="input-group-text px-2">Kwota</span>
										</div>
										<input type="number" class="form-control" name="money" min="0.01" step="0.01" id="userMoney" placeholder="0.00" required />
									</div>
							</div>
						</div>
						
						<div>
							<div class="col mt-2" id="date">
								<label class="sr-only">Data</label>
									<div class="input-group input-group-lg">
										<div class="input-group-prepend">
											<span class="input-group-text px-3">Data</span>
										</div>
										<input type="date" class="form-control" name="dater" id="userDate" required />
									</div>
							</div>
						</div>
						<div class="col mt-4 mb-4" id="paymentPlace">
						</div>
						<div class="col mt-4 mb-4">
							<label class="mr-sm-2" for="category">Kategoria</label>
							<select class="custom-select mr-sm-2" name="category" id="selectBox">
							</select>
									
							<div class="form-group mt-2 mb-4">
								<label for="comment" class="sr-only">Komentarz</label>
								<input type="text" class="form-control" name="comment" id="userComment" placeholder="Komentarz (opcjonalnie)" aria-describedby="commentHelp">
							</div>
							<div id="invisible"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" id="modal_submit">Zapisz zmiany</button>
					<button type="button" class="btn btn-outline-danger" id="cancel_modal">Porzuć pomysł</button>
				</div>
			</form>
    </div>
  </div>
</div>
	
	<div class="row py-4">
		<canvas id="pieChart" class="mx-auto">
		</canvas>
	</div>
	
</main>

{% endblock %}
