{% extends "desktop.html" %}

{% block my_script %}
	<script src="/js/comment.js"></script>
{% endblock %}
		
{% block title %}Pulpit{% endblock %}

{% block body %}

	<section>
				
		<div class="row">
			<div class="col-12 text-center mt-4">
				
				<h3 class="h2 mb-4">Witaj <span class="text-capitalize">
				{{ current_user.name }}
				</span>!</h3>
				<p class="h4">Miło, że tu zajrzałeś</p>
				<p class="h4 mt-2 mb-4">Dziś <span id="dayOfWeek"></span></p>
				<img src="/img/save.jpg" class="img-thumbnail" alt="Oszczędzaj pieniądze" />
				<p class="h4 mt-2">Zerknijmy jak mają się Twoje finanse...</p>
				
			</div>
		</div>
	
	</section>

{% block footer %}
<script>
	$(document).ready(dayComment);
</script>
{% endblock %}

{% endblock %}
