{% extends "desktop.html" %}

{% block title %}Ustawienia{% endblock %}

{% block footer %}
<script src="/js/settings.js"></script>
{% endblock %}

{% block body %}

<div class="row mx-2">
	<div class="col-12 p-3 rounded" style="border: 2px #f2f2f2 dashed">

		<div class="row">
		
			<div class="col">
				<table class="table table-hover table-sm text-light">
					<thead class="table thead-dark">
						<tr>
							<th style="width: 90%;">Kategorie przychodów</th>
							<th style="width: 10%;" class="text-right"><i class="icon-dot" id="income-category"></i></th>
						</tr>
					</thead>
					<tbody>
{% for incCat in userSettings.incomeCategories %}
						<tr class="font-weight-bold bg-secondary item-hidden income-category-row" style="width: 90%;" id={{ incCat.id }}><td>{{ incCat.name }}</td><td style="width: 10%;" class="text-right"><i class="icon-pencil"></i></td></tr>
{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<table class="table table-hover table-sm text-light">
					<thead class="table thead-dark">
						<tr>
							<th style="width: 90%;">Kategorie wydatków</th>
							<th style="width: 10%;" class="text-right"><i class="icon-dot" id="expense-category"></i></th>
						</tr>
					</thead>
					<tbody>
{% for expCat in userSettings.expenseCategories %}
						<tr class="font-weight-bold bg-secondary item-hidden expense-category-row" style="width: 90%;" id={{ expCat.id }}><td>{{ expCat.name }}</td><td style="width: 10%;" class="text-right"><i class="icon-pencil"></i></td></tr>
{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row">		
			<div class="col">
				<table class="table table-hover table-sm text-light">
					<thead class="table thead-dark">
						<tr>
							<th style="width: 90%;">Metody płatności</th>
							<th style="width: 10%;" class="text-right"><i class="icon-dot" id="payment-method"></i></th>
						</tr>
					</thead>
					<tbody>
{% for payment in userSettings.paymentMethods %}
						<tr class="font-weight-bold bg-secondary item-hidden payment-method-row" style="width: 90%;" id={{ payment.id }}><td>{{ payment.name }}</td><td style="width: 10%;" class="text-right"><i class="icon-pencil"></i></td></tr>
{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<table class="table table-hover table-sm text-light">
					<thead class="table thead-dark">
						<tr>
							<th style="width: 90%;">Ustawienia użytkownika</th>
							<th style="width: 10%;" class="text-right"><i class="icon-dot" id="user-account"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr class="font-weight-bold bg-secondary item-hidden user-account-row" style="width: 90%;" id="userName"><td>{{ userData.name }}</td><td style="width: 10%;" class="text-right"><i class="icon-pencil account"></i></td></tr>
						<tr class="font-weight-bold bg-secondary item-hidden user-account-row" style="width: 90%;" id="userEmail"><td>{{ userData.email }}</td><td style="width: 10%;" class="text-right"><i class="icon-pencil account"></i></td></tr>
						<tr class="font-weight-bold bg-secondary item-hidden user-account-row" style="width: 90%;" id="userPassword"><td>*** Zmień hasło ***</td><td style="width: 10%;" class="text-right"><i class="icon-pencil account"></i></td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>	
</div>

<!-- MODAL STARTS HERE -->
	<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="dateRangeInput" aria-hidden="true" data-backdrop="">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content bg-dark">
				<div class="modal-header">
					<h5 class="modal-title font-weight-bold" id="modalTitle">Edycja wpisu</h5>
				</div>
				<form method="post" id="updateForm">
					<div class="modal-body">	
						<div class="col" id="modalData">
							
						</div>
					</div>
					
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" id="modalSubmit">Zapisz zmiany</button>
					<button type="button" class="btn btn-outline-danger" id="cancelModal">Porzuć pomysł</button>
					</div>
				</form>
			</div>
		</div>
	</div>


{% endblock %}
