{% extends "desktop.html" %}

{% block title %}Ustawienia{% endblock %}

{% block body %}

<div class="row mx-2">
	<div class="col-12 p-3 rounded" style="border: 2px #f2f2f2 dashed">

		<div class="row">
		
			<div class="col">
				<table class="table table-hover table-sm text-light">
					<thead class="table thead-dark">
						<tr>
							<th style="width: 90%;">Kategorie przychodów</th>
							<th style="width: 10%;" class="text-right"><i class="icon-dot"></i></th>
						</tr>
					</thead>
					<tbody>
{% for incomeCategories in userSettings %}
	{% for incCat in incomeCategories %}
						<tr class="font-weight-bold bg-secondary item-hidden"  style="width: 90%;" id={{ incCat.id }}><td>{{ incCat.name }}</td><td style="width: 10%;" class="text-right"><i class="icon-pencil"></i></td></tr>
	{% endfor %}
{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<table class="table table-hover table-sm text-light">
					<thead class="table thead-dark">
						<tr>
							<th style="width: 90%;">Kategorie wydatków</th>
							<th style="width: 10%;" class="text-right"><i class="icon-dot"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr class="font-weight-bold bg-secondary item-hidden"  style="width: 90%;"><td>...</td><td style="width: 10%;" class="text-right"><i class="icon-pencil"></i></td></tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row">		
			<div class="col">
				<table class="table table-hover table-sm text-light">
					<thead class="table thead-dark">
						<tr>
							<th style="width: 90%;">Metody płatności</th>
							<th style="width: 10%;" class="text-right"><i class="icon-dot"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr class="font-weight-bold bg-secondary item-hidden"  style="width: 90%;"><td>...</td><td style="width: 10%;" class="text-right"><i class="icon-pencil"></i></td></tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<table class="table table-hover table-sm text-light">
					<thead class="table thead-dark">
						<tr>
							<th style="width: 90%;">Ustawienia użytkownika</th>
							<th style="width: 10%;" class="text-right"><i class="icon-dot"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr class="font-weight-bold bg-secondary item-hidden"  style="width: 90%;"><td>...</td><td style="width: 10%;" class="text-right"><i class="icon-pencil"></i></td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>	
</div>

{% endblock %}
