{% extends "base.html" %}

{% block my_script %}
<link rel="stylesheet" href="/mtr-datepicker-gh-pages/dist/mtr-datepicker.min.css">
<link rel="stylesheet" href="/mtr-datepicker-gh-pages/dist/mtr-datepicker.clutterboard-theme.min.css">
{% endblock %}

{% block additional %}
<script src="/mtr-datepicker-gh-pages/dist/mtr-datepicker.min.js"></script>
<script src="/js/datePicker.js"></script>
{% endblock %}

{% block title %}{% endblock %}

{% block body %}

{% block navbar %}
	<nav class="navbar navbar-dark navbar-expand-md rounded wallet sticky-top py-0 mb-4" style="border: 1px #000 solid">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="mainmenu">
		
			<ul class="navbar-nav">
				
				<li class="nav-item">
					<a class="nav-link" href="/incomes/add-income"><i class="icon-money"></i> Dodaj przychód </a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/expenses/add-expense"><i class="icon-basket"></i> Dodaj wydatek </a>
				</li>
				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"><i class="icon-calendar"></i> Przeglądaj bilans </a>
					
					<div class="dropdown-menu wallet" aria-labelledby="submenu">
						<form method="post">
							<input type="submit" name="current" class="dropdown-item btn btn-link" formaction="/balance/show" value=" Bierzący miesiąc ">
							<input type="submit" name="previous" class="dropdown-item btn btn-link" formaction="/balance/show" value=" Poprzedni miesiąc ">
						</form>
						<button class="dropdown-item btn btn-link"  data-toggle="modal" data-target="#dateRangeModal"> Inny zakres </button>
						
					</div>
					
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/settings"><i class="icon-conf"></i> Ustawienia </a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/logout"><i class="icon-logout"></i> Wyloguj </a>
				</li>
				
			</ul>
		
		</div>
		
	</nav>
	
<!-- MODAL STARTS HERE -->
	<div class="modal fade" id="dateRangeModal" tabindex="-1" role="dialog" aria-labelledby="dateRangeInput" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content bg-dark">
				<div class="modal-header">
					<h5 class="modal-title font-weight-bold" id="dateRangeInput">Wprowadź interesujący cię okres</h5>
				</div>
				<form action="/balance/show" method="post">
					<div class="modal-body">
						<div class="row">
							
								<div class="col">
									<div class="h6 font-weight-bold">Podaj datę początkową</div>
									<div id="begin_date"></div>
									<div><input type="text" name="begin_date" id="hiden_begin_date" class="item-hidden"></div>
								</div>
								
								<div class="col">
									<div class="h6 font-weight-bold">Podaj datę końcową</div>
									<div name="end_date" id="end_date"></div>
									<div><input type="text" name="end_date" id="hiden_end_date" class="item-hidden"></div>
								</div>
							
						</div>
					</div>
					
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" id="modal_submit">Pokaż</button>
						<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Porzuć pomysł</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% endblock %}